.nav-container {
  background-color: yellow;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container > * {
  /* border: solid black 1px; */
  padding: 10px;
}

/* ------ NavBar 메뉴 섹션 ------ */
.nav-list {
  display: flex;
}
.nav-items {
  /* border: solid black 1px; */
  list-style: none;
  margin-left: 10px;
}
