.room-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.room-body > * {
  /* border: 1px solid plum; */
  /* background-color: pink; */
}

/* ------- ChatRoom 헤더 섹션 ------- */
.roomHeader-container {
  width: 100%;
}

/* ------- ChatRoom 메인 섹션 ------- */
.room-main {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

/* 룸 토글메뉴 */
.roomMenu-container {
  min-width: 40%;
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤 표시 */
}

/* 메세지 출력부 */
.chat-container {
  width: 100%;
  padding: 15px;
  background-color: antiquewhite;
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤 표시 */
}

/* ------- IconDown 섹션 ------- */
.room-icon-down {
  padding: 10px;
  position: fixed;
  bottom: 40px; /* Stick to the bottom of the viewport */
  z-index: 1;
}
/* ------- 메세지 입력 섹션 ------- */
.input-container {
  width: 100%;
  position: sticky;
  bottom: 0; /* Stick to the bottom of the viewport */
}
