.room-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.room-body > * {
  /* border: 1px solid plum; */
  background-color: pink;
}

/* ------- ChatRoom 헤더 섹션 ------- */
.roomHeader-container {
  width: 100%;
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  z-index: 1; /* Ensure it appears above other elements */
}

/* ------- ChatRoom 메인 섹션 ------- */
.room-main {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  flex: 1;
}

/* 룸 토글메뉴 */
.roomMenu-container {
  min-width: 40%;
}

/* 메세지 출력부 */
.chat-container {
  background-color: antiquewhite;
  width: 100%;
  padding: 15px;
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤 표시 */
  /* scroll-behavior: smooth; */
  /* scroll-margin-bottom: 0; */
}

/* ------- 메세지 입력 섹션 ------- */
.input-container {
  width: 100%;
  position: sticky;
  bottom: 0; /* Stick to the bottom of the viewport */
}
