.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-size: 23px;
}
.loggedIn-area,
.nonLoggedIn-area {
  /* border: solid 3px yellow; */
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
