.pwConf-main {
  display: flex;
  flex-direction: column;
}

.pwConf-form-label {
  font-size: 15px;
  margin-bottom: 2px;
}

.pwConf-form-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.pwConf-input {
  padding-left: 5px;
}
