/* 기본 사항 */
.each-message {
  /* border: 2px solid plum; */
  display: flex;
  flex-direction: column;
}

/* 날짜 구분 */
.date-divider {
  border-radius: 20px;
  padding: 2px 7px 4px;
  background-color: #efd6da;
  color: #a19b9b;
  font-size: 13px;
  font-weight: 400;
  margin: 10px 0;
}

/* 시스템 메세지 */
.system-message-container {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}
.system-message {
  border-radius: 20px;
  padding: 2px 7px 4px;
  background-color: #d1cbcb;
  color: white;
  font-size: 13px;
  font-weight: 400;
}

/* 채팅 메세지 - 공통사항 */
.message-container {
  /* border: 1px solid maroon; */
  display: flex;
}
.name {
  margin: 0 0 2px 10px;
  font-size: 15px;
}
.message {
  /* border: 1px solid red; */
  max-width: 85%;
  border-radius: 20px;
  padding: 6px 15px 8px;
}
.timestamp {
  display: flex;
  font-size: 13px;
  color: #959595;
  margin: 1px 10px 3px;
}

/* mine */
.message-container.mine,
.timestamp.mine {
  justify-content: flex-end;
}
.message.mine {
  background-color: white;
}
/* others */
.message-container.others,
.timestamp.others {
  justify-content: flex-start;
}
.message.others {
  background-color: #e9e9ab;
}
