.userList-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userList-title {
  font-size: 23px;
}
.refresh-button {
  padding: 5px;
  border-radius: 15px;
}
.refresh-button:hover {
  cursor: pointer;
  background-color: #7fffd478;
}

.userList-body {
  /* border: solid pink 2px; */
  margin: 0 20px;
}
.each-user {
  /* border: solid palevioletred 1px; */
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.user-name {
  font-weight: normal;
}
.user-online {
  font-size: 15px;
  margin-left: 5px;
}
.online {
  color: green;
}
.offline {
  color: gray;
}
