.each-message {
  /* border: 1px solid plum; */
  margin: 15px;
}
.system-message-container {
  display: flex;
  justify-content: center;
}
.system-message {
  border-radius: 20px;
  padding: 1px 7px 3px;
  background-color: #d1cbcb;
  color: white;
  font-size: 13px;
  font-weight: 400;
}
.my-message-container {
  display: flex;
  justify-content: flex-end;
}
.others-message-container {
  display: flex;
  justify-content: flex-start;
}
.message {
  border-radius: 20px;
  padding: 6px 15px 8px;
}
.mine {
  background-color: white;
}
.others {
  background-color: #e9e9ab;
}
