.newRoom-body {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
}

.newRoom-input {
  flex: 1;
  padding: 5px 0 5px 5px;
  box-sizing: border-box;
  border: none;
}
.newRoom-input:focus {
  outline: none;
}

.create-button {
  background-color: aquamarine;
  border: none;
}
.create-button:hover {
  cursor: pointer;
}
